@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lpaohk');
  src:  url('../fonts/icomoon.eot?lpaohk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lpaohk') format('truetype'),
    url('../fonts/icomoon.woff?lpaohk') format('woff'),
    url('../fonts/icomoon.svg?lpaohk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e98f";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-checkmark:before {
  content: "\ea10";
}
