body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.content-locker {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding: 60px 30px 30px;
  border-radius: 5px;
  margin: 30px auto;
  background: #f9f9f9;
  max-width: 1200px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border-bottom: 4px solid #f1f1f1;
  position: relative;
  z-index: 1;
}

.content-locker .icon-lock {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  z-index: -1;
  color: #e1e1e1;
  margin-left: 5px;
}

.content-locker .locker-content {
  margin-bottom: 30px;
}

.locker-error {
  text-align: center;
  background: rgba(200,0,0,.1);
  color: #bb5b5b;
  padding: 15px 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.content-locker .locker-content blockquote {
  background: #fff;
  padding: 7px 15px;
  margin: 30px 0;
  font-style: italic;
}

.social-locker-terms a,
.content-locker .locker-content a {
  color: inherit;
  text-decoration: underline;
  color: #757575;
}

.content-locker .locker-content img {
  margin-bottom: 5px;
}

.content-locker .locker-content img[style*='float: left'] {
  margin-right: 10px;
}


.content-locker .locker-content img[style*='float: right'] {
  margin-left: 10px;
}

.social-locker-terms a:hover,
.social-locker-terms a:focus,
.content-locker .locker-content a:hover,
.content-locker .locker-content a:focus {
  color: #000;
}

.content-locker .locker-content li {
  margin-bottom: 10px;
}

.content-locker .locker-content h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

.content-locker .locker-actions {
  text-align: center;
}

.content-locker .locker-btn {
  background-color: #f1f1f1;
  border: 0;
  padding: 0 15px;
  line-height: 48px;
  font-size: 18px;
  margin: 0 15px;
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  color: #000;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.content-locker .locker-btn:hover,
.content-locker .locker-btn:focus {
  box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}

.social-locker-terms {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 24px;
}

.social-locker-terms [class^="icon-"],
.social-locker-terms .custom-icon,
.social-locker-terms [class*=" icon-"] {
  margin-right: 10px;
  line-height: 24px;
}

.social-locker-social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-locker-social-list li {
  margin: 0 15px;
}

.social-locker-social-list a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all .3s;
  border: 0 none;
}

.social-locker-social-list a:hover,
.social-locker-social-list a:focus {
  opacity: .7;
}


ul.social-locker-social-list .icon-twitter {
  color: #1da1f2;
  font-size: 30px;
}

ul.social-locker-social-list .icon-facebook {
  color: #4267b2;
  font-size: 26px;
}

ul.social-locker-social-list .icon-google-plus {
  color: #d64435;
}

.social-locker-social-list .custom-icon {
  height: 30px;
  width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.social-locker-social-list .custom-icon  img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.social-locker-social-list [class^="icon-"],
.social-locker-social-list [class*=" icon-"] {
  font-size: 35px;
}

.social-locker-social-list .custom-icon + span,
.social-locker-social-list [class^="icon-"] + span,
.social-locker-social-list [class*=" icon-"] + span {
  margin-left: 10px;
  padding-top: 3px;
}

.element-hidden {
  display: none;
}

@media (max-width: 1199px) {
  .content-locker {
    margin: 30px 15px;
  }
}
@media (max-width: 413px) {
  .social-locker-social-list {
    flex-direction: column;
  }
  .social-locker-social-list li {
    margin-bottom: 10px;
  }
}
